.main {
  scroll-behavior: smooth;
}
.header-color {
  background: #b92b27;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #1565C0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.pege-content {
  height:100%;
  width:100%
}
.footer-size {
  height:2rem;
  width:100%
}
.landing-grid {
  background: #b92b27;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #1565C0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position:relative;
  text-align:center;
  width: 100%;
  /* height:100%; */

}
.landing-grid-about {
  background: #b92b27;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #1565C0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  align-content: center;
  padding-left: 180px;
  padding-top:1px;
  padding-bottom:200px;
  /* height:100%; */
  
}
.landing-grid-about-text {
  text-align:center;

  width:75%;
}

.header-right {
  padding-right: 20px;
  text-align: right;
}
.avatar-img {
  height: 200px;
  padding-top:125px;
  border-radius: 75%;
}
.banner-text {
  background-color: black;
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius:10px;
}
.category-tabs {
  font-size:66px;
  font-weight:bold;
  background: #b92b27;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #1565C0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100%;

  padding-bottom: 5%;
}
.category-tabs p{
  font-size: 25px;
  font-weight: bold;
  
}
/*.content {*/
/*  background: #b92b27;  !* fallback for old browsers *!*/
/*  background: -webkit-linear-gradient(to top, #1565C0, #b92b27);  !* Chrome 10-25, Safari 5.1-6 *!*/
/*  background: linear-gradient(to top, #1565C0, #b92b27); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/

/*}*/
.banner-text h1 {
  font-size:66px;
  font-weight:bold;
  color: white;
}
.banner-text hr {
  border-top:5px dotted white;
  width: 50%;
  margin:auto;
}
.banner-text p {
  color: white;
  font-size: 20px;
  /* padding: 1em; */
  /*margin:auto;*/
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i {
  color: white;
  font-size: 5em;
  padding: 8px;
}

.projects-grid {
  display:flex;
}

.contact-body {
  background: #b92b27;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #1565C0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: auto;
  /*background: grey;*/
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  /* padding-top:2em; */
}
.navbar{
  background: #b92b27;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #1565C0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}





.nav {
  background: #b92b27;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #1565C0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: sticky;
  top: 0px;
  width: 100%;
  height: 80px;
  z-index: 1000;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
}

.nav-logo {
  font-size:25px;
  width: 120px;
}

.nav-logo:hover {
  cursor: pointer;
}
.personal-info > h5 {
  font-weight: 500;
}
.nav .nav-content {
  max-width: 900px;
  padding: 0rem 3rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-item {
  display: inline;
  margin-left: 2rem;
  color: #333;
  font-size: 25px;
}

.nav-item:hover {
  color: black;
  cursor: pointer;
}
















.resume-body{
  background: #b92b27;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #1565C0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-weight: bold;
}
.contact-grid {
  background: #b92b27;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #1565C0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  justify-content: center;
  width: 80%;
  height:550px;

  color: black;
  /*border: 2px solid red;*/
  margin-bottom: 20px;
}
.contact-grid h2 {
  font-family:"anton", sans-serif;
}
.contact-grid p {
  font-family:"oxygen", sans-serif;
  font-weight: bold;
}
.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}
.contact-list i {
  font-size: 60px;
  padding-right: 5rem;
}

.resume-right-col {
  background: #27221F;
  color: white;
  padding:2em;
}